@tailwind base;
@tailwind components;
@tailwind utilities;

#hero{
 min-height: 100vh;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-y: hidden;
  max-height: 100vh;
  z-index: 0; 
}

.layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1d ;
  opacity: 0.3;
  mix-blend-mode: overlay; 
  max-height: 100vh;
}

.PokebolaContainer {
  position: relative;
  top: -10px;
  z-index: 3;
}

.pokebolaImg{
  animation: pulse 2s ease-in-out infinite, intermittent-pulse 5s infinite;
  cursor: pointer;
  transition: opacity 2s ease-in-out; /* Transición de 2 segundos para la opacidad */
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}


.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0; /* Opacidad final para el fade out */
}

.Invitation {
  max-width: 500px;
  margin: 0 auto; /* Centra el componente horizontalmente */
  padding: 20px; /* Añade algún espacio alrededor del contenido */
  background-color: #ffffff; /* Color de fondo */
  border: 2px solid #ccc; /* Borde */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Añade estilos adicionales según sea necesario para que sea atractivo y responsive */
