@tailwind base;
@tailwind components;
@tailwind utilities;

#hero{
 min-height: 100vh;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow-y: hidden;
  max-height: 100vh;
  z-index: 0; 
}

.layer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1c1d ;
  opacity: 0.3;
  mix-blend-mode: overlay; 
  max-height: 100vh;
}

.PokebolaContainer {
  position: relative;
  top: -10px;
  z-index: 3;
}

.pokebolaImg{
  animation: pulse 2s ease-in-out infinite, intermittent-pulse 5s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}


.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  pointer-events: none; /* Evitar eventos mientras está invisible */
  transition: opacity 0.5s ease-in-out;
}